name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: {}
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm install --frozen-lockfile --prefer-offline
      # Setup git user for commit operations in tests
      - run: |
          git config --global user.email "test@example.com"
          git config --global user.name "test"
      - run: pnpm qa
